<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrNmEsuNMg4oTt4em08cLSL9gX7CMwhd8</string>
	<key>GCM_SENDER_ID</key>
	<string>976656679083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankOffTime</string>
	<key>PROJECT_ID</key>
	<string>bank-of-time-4e20c</string>
	<key>STORAGE_BUCKET</key>
	<string>bank-of-time-4e20c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976656679083:ios:3ffbdea4d53529f7afb7ee</string>
</dict>
</plist>